.idea/
cmake-build-*/
bin/input/
bin/input-example/
bin/output/
bin/html_parser

# Visual Studio 2017
bin/html_parser.pdb
bin/html_parser.ilk
bin/html_parser.exe
CMakeSettings.json
.vs

# Gui
node_modules/
