.idea/
cmake-build-*/
bin/input/
bin/input-example/
bin/output/
bin/query
bin/search-gui-*/
bin/gui.sh
bin/gui.bat
bin/query.txt
bin/result.txt
gui/query.dll
gui/libquery.so

# Visual Studio 2017
bin/Release
bin/Debug
CMakeSettings.json
.vs

# Gui
node_modules/
