/******** General ********/
html {
    height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#footer {
    position: absolute;
    bottom: 0px;
    line-height: 40px;
    text-align: center;
    color: #999;
    left: 0;
    right: 0;
}

.search-textarea {
    font-size: 16px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    border: none;
    outline: none;
}

.large-logo {
    font-family: sans-serif;
    font-size: 80px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    -webkit-user-select: none;
}

.small-logo {
    display: inline-block;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 32px;
    margin: 0 10px;
    -webkit-user-select: none;
}

#result-page {
    min-width: 650px;
}
#result-page-header {
    background-color: #fafafa;
    border-bottom: 1px solid #ebebeb;
    padding: 20px 0;
}
#result-page-header .search-textarea {
    min-width: 500px;
}

#result-statistics {
    padding-left: 130px;
    color: #808080;
    line-height: 44px;
    font-family: arial;
    font-size: 13px;
}

.google-blue {
    color: #4285f4;
}
.google-red {
    color: #ea4335;
}
.google-yellow {
    color: #fbbc05;
}
.google-green {
    color: #34a853;
}

/******** Main Page ********/
#main-page {
    min-width: 540px;
    height: 100%;
    padding-top: 140px;
}

.large-logo {
    font-family: sans-serif;
    font-size: 80px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.google-blue {
    color: #4285f4;
}
.google-red {
    color: #ea4335;
}
.google-yellow {
    color: #fbbc05;
}
.google-green {
    color: #34a853;
}


#search-form {
    width: 540px;
    margin: 0 auto;
}

#main-page .search-textarea {
    width: 100%;
}

.search-textarea:hover, .search-textarea:focus {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    border: none;
    outline: none;
}



#search-buttons {
    margin: 0 auto;
}

#search-form input[type="submit"], #search-form button {
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-size: 13px;
    font-weight: bold;
    min-width: 54px;
    padding: 0 16px;
    margin: 32px 4px;
    text-align: center;
}

#search-form input[type="submit"]:hover, #search-form input[type="submit"]:focus,
#search-form button:hover, #search-form button:focus {
    //box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
    outline: none;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
